<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Views Article </title>
    <style>
      body{
        padding: 0px;
        margin: 0px;
        background-color: #eef2f3f5;
      }
      nav{
        box-shadow: 0px 0px 3px 0px gray;
      }
      .cont{
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
      }
      .cont_items{
        flex: 1;
        padding: 10px;
        box-shadow: 0px 0px 3px 0px gray;
        margin: 10px;
         
      }
      .cont_items>img{
        height:100% ;
        width: 100%;
      }
      h1{
        text-align: center;
        font-size: 50px;
        text-transform: uppercase;
      }
      .cont__body>textarea {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 17px;
        padding: 20px;
        text-transform: capitalize;
        resize: none;
        color:black;
        width: 100%;
        height: 400px;
        background-color:rgb(241, 234, 234);
        border-color: transparent;
        cursor: pointer;
        border: 1px solid transparent;
      }
       
      .container__text >textarea{
        width: 100%;
        padding: 20px;
        height: 300px;
        word-wrap: break-word;
        color: blanchedalmond;
        background-color: black;
      }
      .cont_author{
        display: flex;
        justify-content:center;
      }
      .author_items{
        height: 200px;
        width: 200px;
      }
      .author_items >img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
      .author_items_details{
        width: 500px;
        font-family: monospace;
        padding: 20px;
      }
      .author_items_details >h4{
        font-size: 16px;
        padding: 20px;

      }
      footer {
        text-align: center;
        padding: 3px;
        background-color: #192A56;
        color: white;
        
      }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand"  href="/">Article Views</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link " href="/api/dashboard/article/show/all/admin">Articles </a>
        </div>
      </div>
     
    </nav>

    <div class="container-fluid">
      <h1><%= typeof article.title=== "undefined"?'No Title':article.title %></h1> 
      <div class="cont">
        <div class="cont_items">
          <img src="<%= typeof article.article_image=== "undefined"?'https://cdn.pixabay.com/photo/2018/03/17/09/53/workplace-3233497__340.jpg': article.article_image %>" > 
       </div>
       <div class="cont_items">
        <iframe width="100%" height="100%" src="<%= typeof article.video_URL=== "undefined"?'https://www.youtube.com/embed/MbMMZ4rPrfI':article.video_URL %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>
      </div>
    </div>
    <div class="container cont__body" >
     <textarea readonly><%= typeof article.content=== "undefined"?'No content':article.content %></textarea> 
    </div>
    <div class="container container__text">
      <textarea ><%= typeof article.code=== "undefined"?'No code':article.code %></textarea>
    </div>
       <h1><a href="#" class="btn btn-outline-dark"><%= article.tag_one %></a>
           <a href="#" class="btn btn-outline-dark"><%= article.tag_two %></a>
          <a href="#" class="btn btn-outline-dark"><%= article.tag_three %></a>
      </h1>
<h4 style="text-align: center;font-weight: bold ;">ABOUT AUTHOR</h4>
    <div class="container cont_author">
      <div class="author_items">
        <img src="<%= profile.image %>">
      </div>
      <div class="author_items_details">
          <h4>Name :<%= profile.firstname %> <%= profile.lastname%> <br>Email:<%= profile.email%> <br>Phone:<%= profile.phone %> </h4>

          <p><%= profile.userinfo%></p>
      </div>
    </div>
    <footer>
      <p>Article Views<br>
        A Computer Science portal for geeks. It contains well written, well thought and well explained computer science and programming articles <br>
      <a href="mailto:srakeshkumar1019@gmail.com">srakeshkumar1019@gmail.com</a></p>
    </footer>
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
</html>